<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TaskIT</title>
</head>

    <body> 
        {% if no_layout is defined and no_layout %}
        {% block no_layout_content %}{% endblock %}
        {% else %}
        <div class="layout">
                <!--Side bar -->
                <nav class="sidebar">
                    
                    <div class="logo"> TaskIT </div>
                    <h1>Välkommen, {{session['username']}} </h1> 
                    <ul class="nav-links">
                        <li> <a href="{{url_for('routes.checkRole')}}">Översikt</a> </li>
                        <li> <a href="#">Schema</a> </li>
                        <li> <a href="{{url_for('routes.manage_accounts')}}">Hantera Perosnal </a> </li>                       <li> <a href="#">Arikv</a> </li>
                    </ul>
                    <form action="{{url_for('routes.logout')}}" method="post"> 
                        <button type="submit" class="logout" >Logga ut</button>
                    </form>
                </nav>

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
        
        </div>
        {% endif %}
<script src="{{url_for('static', filename='js/tabs.js')}}"></script>
    </body>
</html>