{% extends "base.html" %}

{% block content %}


<div class="dashboard-container">
  
  <div class="row">

  <div class="card">

    <h4> Totalt uppdrag </h4>
    <p id="totalUppdrag"> Loading.... </p>

  </div>

<div class="card">
  <h4> Activa uppdrag </h4>
  <p id="activaUppdrag"> Loading.... </p>
</div>

<div class="card">
  <h4> Lediga Bilar </h4>
  <p id="ledigaBilar"> Loading.... </p>
</div>

  </div>
</div>

<div class="tasksContainer">
  <table class="table"> 

    <thead>
      <tr>
        <th> Title </th>
        <th> Status </th>
        <th> Deadline </th>
      </tr>
    </thead>
    <tbody id="tbody">
      <tr>
        <td colspan="3" class="text-center"> Loading... </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
