{% extends "base.html" %}

{% block head %}
<div id="header">
<h1> Welcome to TaskIT </h1>
</div>
{% endblock %}

{%block body %}
<div class="loginForm">
    <h1>This is a lorem </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi commodi cupiditate fugit facere eius accusantium ad vero quisquam adipisci porro quidem cumque, dolorem architecto aliquam excepturi libero alias magnam numquam?</p>
</div>
<div class="recoverPassword">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias cumque nulla illo adipisci nobis dolorem soluta. Quidem consequuntur esse totam laborum eos aliquam dolores facere saepe fugiat amet, in aut.</h1>
</div>

{% endblock %}
