{% extends "base.html" %}
{% set no_layout = True %}

{% block no_layout_content %}
<div class="login-container">
    <div class="login-box"> 
    <header><h2> TaskIT</h2></header>
    <p class="guide">Logga in för att komma igång</p>

        <form action="/" method="post">
            <label id="userNamelabel"> Användarnamn: </label>
            <input id="userNamePholder",
            name="username",
            placeholder="test@taskit.com",
            required>
    
            <label for="password">Lösenord: </label>
            <input type="password",
            name="password",
            required, placeholder="7askta5kit">
            <br><br>
            <button type="submit"> Login </button>

        </form>
    
    <div class="recoverPassword">
        <h5> <a href="http:127.0.0.1:5000/login">glömt lösenord </h5></a>
    </div>
    <div class="recoverPassword">
        <h5> <a href="{{url_for('routes.manage_accounts')}}">Create Account</a>
    </div>
</div>
</div>
{% endblock%}